@import "tailwindcss";

@layer components {
  .nav-link {
    /* Основные классы */
    @apply relative text-gray-900 hover:text-[#0066FF] transition-all duration-100;
    
    @apply after:content-[''] after:absolute after:bottom-[-5px] after:h-0.5 after:bg-[#0066FF];
    
    /* Центрирование и анимация */
    @apply after:left-1/2 after:w-0 after:-translate-x-1/2 after:transition-all after:duration-300;
  }
  

  .nav-link:hover {
    /* Состояние при наведении */
    @apply after:w-full;
  }
  
  .text-primary {
    color: #0066FF;
  }

  .hide-scrollbar {
    /* Скрывает скроллбар, но сохраняет функциональность прокрутки */
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }

}